main {
    min-height: 80vh;
}
.itemImg {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width: 70%
}
.menu-title {
    justify-content: center;
    margin: 0% auto;
    
}

.linkText {
    font-family: 'Roboto', sans-serif;
    color:black
}

.navbarFixedBottom{
    height: 20px;
}

